<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>

<body>



    
<%- include('./partials/nave.ejs') %>

<div class="About content">
    <h2>About Us</h2>
    <p>Program Management Professional  Certification Training Course  Download Course Contents</p>
    <p>Program Management Professional  Certification Training Course  Download Course Contents</p>
    <p>Program Management Professional  Certification Training Course  Download Course Contents</p>
    <p>Program Management Professional  Certification Training Course  Download Course Contents</p>

</div>
<%- include('./partials/footer.ejs') %>

</body>
</html>


